.container4 {
    width: 314px;
    border-radius: 2%;
    border-top: 4px solid hsl(219.85deg 80.12% 61.13%);
    box-shadow: 0 8px 21px hsl(0, 10%, 75%, 0.7);
    margin: 175px 20px;
    height: 281px;
}