body {
    margin-left: 157px;
    background-color: white;
    width: 1200px;
    height: 1560px;
}


body .cards {
    display: grid;
    grid-auto-flow: column;
    margin: 25px;
}

.body_card p {
    letter-spacing: 0px;
}

.content {
    margin-top: 35px;
}

h1 {
    font-size: 24px;
    /* margin: 20px 0 0 0;
    display: flex;
    font-weight: 200;
    font-size: 33px;
    justify-content: center;
    color: hsl(234, 12%, 34%);
 */
}

h2 {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 54px;
    margin-top: -20px;
    color: hsl(234, 12%, 34%);
    width: 100%;
    letter-spacing: -1px;

}
.tittle_one h1{
    font-size: 49px;
    text-align: center;
    margin-bottom: 0;
    letter-spacing: -1px;
    font-weight: 300;

}

.tittle-secund {
    display: block;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: x-large;
    letter-spacing: -2px;
    color: hsl(229, 6%, 66%);
    margin-left: 10px;
}

.tittle_1 {
    letter-spacing: 1px;
}



.tittle-secund, p, p {
    margin: -22px;
    
}

.container_cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: revert;
    max-width: 67rem;
    height: 750px;
    width: 100%;
    margin: -103px;
    margin-top: -134px;
}

.container_1 {
    margin-top: 146px;
}

.container_cards div .card_medium-2 {
    margin-top: -149px;
}

.icon {
    margin: 25px 0 0 358px;

}

@media (max-width: 375px){
    body {
        margin: 0 -199px;

    }
    .container_cards{
        display: block;
    margin-left: 367px;
    }
    .container-medium{
        margin: -146px 0;
    }
    .container_1 {
        margin-top: -143px;
    }

}
